{{!
    @template mod_enea/search_results_heading
}}
<search_results_heading>
    <div class="row">
        <div class="text-left col-xs-5 col-md-3 col-lg-3">
            <u>{{$ title}} Default course title {{/ title}}</u>
        </div>
        <div class="text-left col-xs-4 col-md-2 col-lg-2">
            <u>{{$ time}} Default time {{/ time}}</u>
        </div>
    </div>
</search_results_heading>
