{{!
    @template mod_enea/select
}}

<br>
<h3 class="text">{{# str}} selectoptions, mod_enea {{/ str}}</h3>
<br>

<p class="text-left"> {{# str}} chooseoptions, mod_enea {{/ str}}</p>

<form id="search-results-form">
    <div class="row">
        <div class="text-left col-xs-8 col-md-6 col-lg-6 lead">
            <p id="fieldofexpertise"><dt><u>{{# str}} fieldofexpertise, mod_enea {{/ str}}</u></dt></p>
        </div>
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}medicine{{/ option_name}}
    {{$ option_text}}{{# str}} medicine, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <div name="medrevdeps" style="display:none">
        {{# medrevdeps}}
        {{< mod_enea/select_indent_row}}
        {{$ option_name}}{{ name }}{{/ option_name}}
        {{$ option_text}}{{ text }}{{/ option_text}}
        {{/ mod_enea/select_indent_row}}
        {{/ medrevdeps}}
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}nursing{{/ option_name}}
    {{$ option_text}}{{# str}} nursing, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    {{< mod_enea/select_row}}
    {{$ option_name}}nutrition{{/ option_name}}
    {{$ option_text}}{{# str}} nutrition, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <br>
    <div class="row">
        <div class="text-left col-xs-10 col-md-8 col-lg-8 lead">
            <p id="topics"><dt><u>{{# str}} topics, mod_enea {{/ str}}<u></dt></p>
        </div>
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}breastfeeding{{/ option_name}}
    {{$ option_text}}{{# str}} breastfeeding, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <div name="bfrevdeps" style="display:none">
        {{# bfrevdeps}}
        {{< mod_enea/select_indent_row}}
        {{$ option_name}}{{ name }}{{/ option_name}}
        {{$ option_text}}{{ text }}{{/ option_text}}
        {{/ mod_enea/select_indent_row}}
        {{/ bfrevdeps}}
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}breastmilksubst{{/ option_name}}
    {{$ option_text}}{{# str}} breastmilksubst, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <div name="bmsrevdeps" style="display:none">
        {{# bmsrevdeps}}
        {{< mod_enea/select_indent_row}}
        {{$ option_name}}{{ name }}{{/ option_name}}
        {{$ option_text}}{{ text }}{{/ option_text}}
        {{/ mod_enea/select_indent_row}}
        {{/ bmsrevdeps}}
    </div>

    <br>
    <div class="row">
        <div class="text-left col-xs-10 col-md-8 col-lg-8 lead">
            <p id="othertopics"><dt><u>{{# str}} othertopics, mod_enea {{/ str}}<u></dt></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 col-md-3 col-lg-3">
            <textarea class="form-control" name="text" rows="5" size="20" placeholder="Please provide a detailed description of your topics of interests (min 15 words)"></textarea>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="text-left col-xs-10 col-md-8 col-lg-8 lead">
            <p id="typesthemes"><dt><u>{{# str}} typesthemes, mod_enea {{/ str}}<u></dt></p>
        </div>
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}science{{/ option_name}}
    {{$ option_text}}{{# str}} science, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    {{< mod_enea/select_row}}
    {{$ option_name}}guidelines{{/ option_name}}
    {{$ option_text}}{{# str}} guidelines, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    {{< mod_enea/select_row}}
    {{$ option_name}}practice{{/ option_name}}
    {{$ option_text}}{{# str}} practice, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <br>
    <div class="row">
        <div class="text-left col-xs-10 col-md-8 col-lg-8 lead">
            <p id="cmepoints"><dt><u>{{# str}} cmepoints, mod_enea {{/ str}}<u></dt></p>
        </div>
    </div>

    {{< mod_enea/select_row}}
    {{$ option_name}}cme{{/ option_name}}
    {{$ option_text}}{{# str}} cmeaccredited, mod_enea {{/ str}}{{/ option_text}}
    {{/ mod_enea/select_row}}

    <div style="display: none">
        {{# id}}
        <input name="id" type="hidden" value="{{ id }}">
        {{/ id}}
        {{# cmid}}
        <input name="cmid" type="hidden" value="{{ cmid }}">
        {{/ cmid}}
    </div>

    <br>
    <div class="form-inline felement data-fieldtype="group"">
        <div class="form-group fitem">
            <input type="submit" class="btn btn-primary" name="searchbutton" value="{{# str}} search, mod_enea {{/ str}}">
        </div>
        <input class="btn btn-secondary" type="reset" name="clearbutton" value="{{# str}} clear, mod_enea {{/ str}}">
    </div>
</form>

{{# js}}
    require(['jquery'], function($) {
        $('[name="medicine"]').change(function() {
            if (this.checked) {
                $('[name="medrevdeps"]').show(300);
            } else {
                $('[name="medrevdeps"]').hide(300);
                {{# medrevdeps}}
                $('[name="{{ name }}"]').prop('checked', false);
                {{/ medrevdeps}}
            }
        });

        $('[name="breastfeeding"]').change(function() {
            if (this.checked) {
                $('[name="bfrevdeps"]').show(300);
            } else {
                $('[name="bfrevdeps"]').hide(300);
                {{# bfrevdeps}}
                $('[name="{{ name }}"]').prop('checked', false);
                {{/ bfrevdeps}}
            }
        });

        $('[name="breastmilksubst"]').change(function() {
            if (this.checked) {
                $('[name="bmsrevdeps"]').show(300);
            } else {
                $('[name="bmsrevdeps"]').hide(300);
                {{# bmsrevdeps}}
                $('[name="{{ name }}"]').prop('checked', false);
                {{/ bmsrevdeps}}
            }
        });
    });
{{/ js}}
