{{!
    @template mod_enea/select_row
}}

<select_row>
<div class="row">
    <div class="cols-xs-5 col-md-3 col-lg-3">
        <span class="text-left">
            <label class="no-bottom-margin form-check-label custom-control custom-checkbox">
                <input type="checkbox" name="{{$ option_name}}{{/ option_name}}" class="form-check-input">
                    {{$ option_text}}{{/ option_text}}
            </label>
        </span>
    </div>
</div>
<select_row>
