{{!
    @template mod_enea/select_indent_row
}}

<select_indent_row>
<div class="row">
    <div class="cols-xs-10 col-md-6 col-lg-6">
        <div class="cols-xs-0 col-md-0 col-lg-0">
        </div>
        <div class="cols-xs-12 col-md-11 col-lg-11">
            <span class="text-left">
                <label class="no-bottom-margin form-check-label custom-control custom-checkbox">
                    <input type="checkbox" name="{{$ option_name}}{{/ option_name}}" class="form-check-input">
                        {{$ option_text}}{{/ option_text}}
                </label>
            </span>
        </div>
    </div>
</div>
<select_indent_row>
